<div class="col-md-12">
    <div class="card card-container">
      @if (!isSuccessful) {
        <form [formGroup]="registerForm" id="registerForm" (ngSubmit)="submitRegister()"> 

        <div>
          <label class="label" for="userName">{{ 'connect.login.username'| translate }}</label>
          <input id="userName" type="text" formControlName="userName" autocomplete="off"
          [ngClass]="{ 'is-invalid': submitted && field['userName'].errors }"/>

          @if (submitted && field['userName'].errors) {
          <div class="invalid-form">
            @if (field['userName'].errors['required']) {
              <span>{{ 'connect.login.error.usernameRequired'| translate }}</span>
            }
            @if (field['userName'].errors['minlength']) {
              <span>{{ 'connect.register.error.usernameMinLength'| translate }}</span>
            }
            @if (field['userName'].errors['maxlength']) {
              <span>{{ 'connect.register.error.usernameMaxLength'| translate }}</span>
            }
          </div>
          }
        </div>

        <div>
          <label class="label" for="email">{{ 'connect.register.email'| translate }}</label>
          <input id="email" type="email" formControlName="email" autocomplete="on"
            [ngClass]="{ 'is-invalid': submitted && field['email'].errors }"/>
          @if (submitted && field['email'].errors) {
            <div class="invalid-form">
              @if (field['email'].errors['required']) {
                <span>{{ 'connect.register.error.emailRequired'| translate }}</span>
              }
              @if (field['email'].errors['email']) {
                <span>{{ 'connect.register.error.emailValid'| translate }}</span>
              }
              @if (field['email'].errors['maxlength']) {
                <span>{{ 'connect.register.error.emailMaxLength'| translate }}</span>
              }
            </div>
          }
        </div>

        <div>
          <label class="label" for="password">{{ 'connect.login.password'| translate }}</label>
          <input id="password" type="password" formControlName="password" 
            [ngClass]="{ 'is-invalid': submitted && field['password'].errors }"/>
          @if (submitted && field['password'].errors) {
            <div class="invalid-form">
              @if (field['password'].errors['required']) {
                <span>{{ 'connect.login.error.passwordRequired'| translate }}</span>
              }
              @if (field['password'].errors['minlength']) {
                <span>{{ 'connect.login.error.passwordMinLength'| translate }}</span>
              }
              @if (field['password'].errors['maxlength']) {
                <span>{{ 'connect.login.error.passwordMaxLength'| translate }}</span>
              }
            </div>
          }
        </div>

        <div>
          <label class="label" for="passwordConfirm">{{ 'connect.register.confirmPassword'| translate }}</label>
          <input id="passwordConfirm" type="password" formControlName="passwordConfirm" 
            [ngClass]="{ 'is-invalid': submitted && field['passwordConfirm'].errors }"/>
          @if (submitted && field['passwordConfirm'].errors) {
            <div class="invalid-form">
              @if (field['passwordConfirm'].errors['required']) {
                <span>{{ 'connect.register.error.confirmPasswordRequired'| translate }}</span>
              }
              @if (field['passwordConfirm'].errors['minlength']) {
                <span>{{ 'connect.register.error.confirmPasswordMinLength'| translate }}</span>
              }
              @if (field['passwordConfirm'].errors['maxlength']) {
                <span>{{ 'connect.register.error.confirmPasswordMaxLength'| translate }}</span>
              }
              @if (!field['passwordConfirm'].errors['required'] 
                && !field['passwordConfirm'].errors['minlength'] 
                && !field['passwordConfirm'].errors['maxlength']
                && registerForm.hasError('passwordMismatch')) {
                <span>{{ 'connect.register.error.passwordMismatch'| translate }}</span>
              }
            </div>
          }
        </div>

        <div>
          <button type="submit" class="button">{{ 'connect.btn.createAccount'| translate }}</button>
        </div>
      </form>

      } @else {
        <!-- TODO Mettre en forme-->
      <div>{{ 'connect.registrationSuccessfull'| translate }}</div>
      }
    </div>
  </div>