<nav class="navbar">
    <div class="navbar-container container">
      
      <ul class="menu-items">
        <li><a routerLink="home" routerLinkActive="active-link" ariaCurrentWhenActive="page">{{ 'navbar.home'| translate }}</a></li>
        <li><a routerLink="climber-profile" routerLinkActive="active-link" ariaCurrentWhenActive="page">{{ 'navbar.profile'| translate }}</a></li>
        <li><a routerLink="searches" routerLinkActive="active-link" ariaCurrentWhenActive="page">{{ 'navbar.searches'| translate }}</a></li>
        <li><a routerLink="contact" routerLinkActive="active-link" ariaCurrentWhenActive="page">{{ 'navbar.contact'| translate }}</a></li> 
      </ul>
      <a routerLink="home" class="logo">Pinya</a>
    </div>
  </nav>