
<nav class="navbar">
    <div class="navbar-container container">
      <ul class="menu-items">
        @if(!isLoggedIn) {
          <li><app-languages> </app-languages></li>
          <li><a routerLink="home" routerLinkActive="active-link" ariaCurrentWhenActive="page">{{ 'navbar.home'| translate }}</a></li>
          <!--<li><a routerLink="contact" routerLinkActive="active-link" ariaCurrentWhenActive="page">{{ 'navbar.contact'| translate }}</a></li> -->
          <li><a routerLink="connect" routerLinkActive="active" ariaCurrentWhenActive="page">{{ 'navbar.connect'| translate }}</a></li>
        }
        @else {
          <li><a routerLink="profile" routerLinkActive="active-link" ariaCurrentWhenActive="page">{{ 'navbar.profile'| translate }}</a></li>
          <li><a routerLink="searches" routerLinkActive="active-link" ariaCurrentWhenActive="page">{{ 'navbar.searches'| translate }}</a></li>
          <li><a routerLink="home" routerLinkActive="active-link" ariaCurrentWhenActive="page" (click)="logout()">{{ 'navbar.logout'| translate }}</a></li>  
        }
      </ul>
      <a routerLink="home" class="logo">Pinya</a>
      @if(isLoggedIn) {
        <span>{{ 'navbar.hello'| translate }}{{ userNameSignal() }}</span>
      }
    </div>
  </nav>