.container{
    width: 90%;
    margin: auto;
}

.navbar{
    box-shadow: 0 5px 10px 0 #aaa; /* TODO TRouver couleur de shadow relative */
    position: relative;
    width: 100%;
    background:#FFCA3A;/*  #53DBC5; TODO mettre variable*/
    color: #000;
    opacity: 0.85;
    z-index: 100;
    margin-bottom: 15px;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
    align-items: center;
}

.logo{
    order: 1;
    font-size: 2.3rem;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: #117964;
}

a.active-link {
    color: darkred;
}

.image-container {
  height: 40px;
  width: 40px;
  z-index: 1;
  border-radius: 50%;     /*TODO variable*/
  background-position: center;
  background-size: cover;
}

.user-navbar {
  display: flex;
  align-items: center;
}
.user-navbar span {
  margin-right: 0.5rem;
}
