
<nav class="navbar">
    <div class="navbar-container container">
      <ul class="menu-items">
        <li><app-languages> </app-languages></li>
        @if(!isLoggedIn) {

          <li><a routerLink="home" routerLinkActive="active-link" ariaCurrentWhenActive="page">{{ 'navbar.home'| translate }}</a></li>
          <li><a routerLink="connect" routerLinkActive="active" ariaCurrentWhenActive="page">{{ 'navbar.connect'| translate }}</a></li>
        }
        @else {
          <li><a routerLink="profile" routerLinkActive="active-link" ariaCurrentWhenActive="page">{{ 'navbar.profile'| translate }}</a></li>
          <li><a routerLink="searches" routerLinkActive="active-link" ariaCurrentWhenActive="page">{{ 'navbar.searches'| translate }}</a></li>
          <li><a routerLink="home" routerLinkActive="active-link" ariaCurrentWhenActive="page" (click)="logout()">{{ 'navbar.logout'| translate }}</a></li>
        }
      </ul>
      <a routerLink="home" class="logo">Pinya</a>
      @if(isLoggedIn) {
        <span>{{ 'navbar.hello'| translate }}{{ userNameSignal() }}</span>
        @if (avatarBackgroundStyle) {
          <div class="image-container"
               [ngClass]="{'box-shadow-avatar': !!avatarBackgroundStyle}"
               [style.background-image]="avatarBackgroundStyle">
          </div>
        }
      }
    </div>
  </nav>
