.avatar-container {
    position: relative;
    width: fit-content;
    margin: auto;
}

.box-shadow-avatar{
    box-shadow: 0 10px 20px 20px #6c93001a; /*TODO valriable Ombre n'apparait que quand image uploadée*/
}

.image-container {
    height: 200px;
    width: 200px;
    z-index: 1;
    border-radius: 50%;     /*TODO valriable*/
    background-color: #fff; /*TODO valriable*/
    background-position: center;
    background-size: cover;
    box-shadow: 0 10px 20px 20px #6c93001a; /*TODO valriable : => on pourrait changer de couleur */

    &.avatar-placeholder{
        background-image: url('/img/avatar-placeholder.png');/*TODO variable*/
    }
}

.icon-wrapper {
    position: absolute;
    height: 40px;
    width: 40px;
    padding: .35rem;
    background-color:var(--btn-color-greyBackGround);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 75%;
    z-index: 2;
    cursor: pointer;

    &:hover {
        transition: all .25s;
        background-color: var(--btn-color-darken);
    }

    .icon {
        color: white;
    }

    label {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input[type='file'] {
        display: none;
    }
}
