<div class="avatar-container">
  <!---TODO remplacer par @if--> 
    <div class="image-container" *ngIf="avatarBackgroundStyle; else placeholder"
        [ngClass]="{'box-shadow-avatar': !!avatarBackgroundStyle}"
        [style.background-image]="avatarBackgroundStyle">        
    </div>

    <ng-template #placeholder>
        <div class="image-container avatar-placeholder">
        </div>
    </ng-template>

    <label for="avatar-input-file">
        <div class="icon-wrapper">
            <input type="file" id="avatar-input-file" accept="image/*" (change)="onFileChange($event)">
            <i class="icon ph-bold ph-pencil-simple"></i> <!--TODO d'où viennent ces classes ? -->
        </div>
    </label>    
</div>