<div class="avatar-container">
    @if (avatarBackgroundStyle) {
        <div class="image-container"
            [ngClass]="{'box-shadow-avatar': !!avatarBackgroundStyle}"
            [style.background-image]="avatarBackgroundStyle">        
        </div>
    } @else  {
        <ng-template #placeholder>
            <div class="image-container avatar-placeholder"></div>
        </ng-template>
    }


    <label for="avatar-input-file">
        <div class="icon-wrapper">
            <input type="file" id="avatar-input-file" accept="image/*" (change)="onFileChange($event)">
            <i class="icon ph-bold ph-pencil-simple"></i> <!--TODO d'où viennent ces classes ? -->
        </div>
    </label>    
</div>