<div class="centeredComponent">
    @if (this.climberProfile) {
        <div >
            <p><strong>{{ 'profile.name'| translate }}</strong> {{this.climberProfile.profileName}}</p>
            <p><strong>{{ 'profile.avatar'| translate }}</strong> {{this.climberProfile.avatar}}</p>
            <p><strong>{{ 'profile.gender'| translate }}</strong>{{this.climberProfile.genderId}}</p>
            <p><strong>{{ 'profile.language'| translate }}</strong>{{this.climberProfile.languageId}}</p>
            <p><strong>{{ 'profile.notified'| translate }}</strong>{{ (this.climberProfile.notified? 'profile.yes' : 'profile.no') | translate }}</p>
            <p><strong>{{ 'profile.climberProfileDescription'| translate }}</strong>{{this.climberProfile.climberProfileDescription}}</p>
        </div>
        <button class="button" (click)="openAddProfile()" >{{ 'profile.btn.editProfile'| translate }}</button> <br/>
    }
    @else{
        <div >{{ 'profile.txt.createProfile'| translate }}</div>
        <button class="button" (click)="openAddProfile()" >{{ 'profile.btn.createProfile'| translate }}</button> <br/>
    }
</div>
