:root {
	/* colors */
	--pinya-color-violetBg:#FFCA3A;
	--pinya-color-orangeBackGround:  #F6F3EE;
	--btn-color-greyBackGround: #887BA6;/*#608680;*/
	--btn-color-greyBorder: #18ab29;
	--btn-color-greenTxtShadow: #2f6627;
	--btn-color-greenHover: #5cbf2a;
	--white: #F6F3EE;
	--black: black;
	--red-error: red;

	/* Border radius */
	--borderRadius-big: 10px;
	--borderRadius-light: 5px;
	/* Font Sizes */
	--btn-fontSize: 17px;
	/* Durations */
	/* Shadows */
}

@font-face {
    font-family: 'Figtree';
    src: url('../../public/fonts/Figtree-Light.woff2') format('woff2'),
        url('../../public/fonts/Figtree-Light.woff') format('woff'),
        url('../../public/fonts/Figtree-Light.ttf') format('truetype');
    font-weight: 300; /* ou light */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('../../public/fonts/Figtree-Regular.woff2') format('woff2'),
        url('../../public/fonts/Figtree-Regular.woff') format('woff'),
        url('../../public/fonts/Figtree-Regular.ttf') format('truetype');
    font-weight: 400; /* regular */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('../../public/fonts/Figtree-ExtraBold.woff2') format('woff2'),
        url('../../public/fonts/Figtree-ExtraBold.woff') format('woff'),
        url('../../public/fonts/Figtree-ExtraBold.ttf') format('truetype');
    font-weight: 800; /* Extra Bold */
    font-style: normal;
    font-display: swap;
}


*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body, app-root {
    height: 100dvh;
    width: 100dvw;
    padding: 0;
    margin: 0;
}

body {
	margin: 0;
	font-family: Figtree, sans-serif;
	font-weight: 300; /* ou light */
	background-color: var(--pinya-color-orangeBackGround);
}

h1, h2, h3, h4, h5, h6 {
	text-wrap: balance;
	margin-bottom: 1rem;
}

p {
	text-wrap: pretty;
	margin-bottom: 1rem;
}

input, select, textarea {
	display: block;
	width: 100%;
	padding: 10px;
	margin: 5px;
	background-color: var(--white);
	border: none;
    border-radius: var(--borderRadius-light);
}

/********************/
.centeredComponent{
	margin: 2rem 20%;
	background-color: var(--pinya-color-violetBg);
	padding: 1.5rem 4rem;
  border-radius: var(--borderRadius-big);
}
/* Forms*/

.label {
    margin-left: 5px;
}

.invalid-form {
    color: var(--red-error);
}

.invalid-form span {
	padding-left: 6px;
}

.is-invalid{
    border-color: var(--red-error)
}

/* Buttons*/
.button {
	background-color: var(--btn-color-greyBackGround);
	border-radius:var(--borderRadius-big);
	border:1px solid var(--btn-color-greyBorder);
	display:inline-block;
	cursor:pointer;
	color: var(--white);
	font-size:var(--btn-fontSize);
    margin: 1rem 1rem 1rem 0;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0 1px 0 var(--btn-color-greenTxtShadow);
}
.button:hover {
	background-color:var(--btn-color-greenHover);
}
.button:active {
	position:relative;
	top:1px;
}
