
::ng-deep .cropper-view-box,
.cropper-face {
    border-radius: 50%;
}

::ng-deep .cropper-view-box {
    outline: 0;
    box-shadow: 0 0 0 1px var(--pinya-color-sunglow);
}

.crop-actions{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 1rem;
}
