<div class="centeredComponent">
  <h1 *ngIf="isAddMode">{{ 'profile.title.createProfile'| translate }}</h1>
  <h1 *ngIf="!isAddMode">{{ 'profile.title.editProfile'| translate }}</h1>

  <form [formGroup]="profileForm" id="profileForm" (ngSubmit)="submitProfile()">
    <avatar formControlName="avatar"></avatar>
    <div>
      <label class="label" for="userName">{{ 'profile.name'| translate }}</label>
      <input id="userName" type="text" formControlName="userName" 
        [ngClass]="{ 'is-invalid': submitted && field['userName'].errors }"/> 

      @if (submitted && field['userName'].errors) {
        <div class="invalid-form">
          @if (field['userName'].errors['required']) {
            <span>{{ 'profile.edit.nameRequired'| translate }}</span>
            }
          @if (field['userName'].errors['minlength']) {
            <span>{{ 'profile.edit.nameMinLength'| translate }}</span>
            }
          @if (field['userName'].errors['maxlength']) {
            <span>{{ 'profile.edit.nameMaxLength'| translate }}</span> <!-- TODO changer dans les translate-->
            }
        </div>
      }
    </div>

    <div>
      <label class="label" for="climberProfileDescription">{{ 'profile.climberProfileDescription'| translate }}</label>
      <textarea id="climberProfileDescription" rows="4" formControlName="climberProfileDescription"></textarea>
    </div>

    <div>
      <label class="label" for="language">{{ 'profile.language'| translate }}</label>
      <select formControlName="language" name="language" id="language" (ngModelChange)="useLanguage($event)">
        <option [ngValue]="null" disabled selected hidden>{{selectedLang}}</option>
        <option [ngValue]="i" *ngFor="let i of languageList">{{i}}</option> 
      </select>
    </div>

    <div>
      <label class="label" for="genderId">{{ 'profile.gender'| translate }}</label>
      <input id="genderId" type="number" formControlName="genderId"/>
    </div>
    
    <div>
      <label class="label" for="isNotified">{{ 'profile.txt.notifications'| translate }}</label>
      <input id="isNotified" type="checkbox" formControlName="isNotified" />
    </div>

    <div>
      <button type="submit" class="button"> 
        {{ (isAddMode ? 'profile.btn.createProfile' : 'profile.btn.editProfile') | translate }}
      </button>
      <button type="button" class="button" (click)="cancelProfile()">{{ 'profile.btn.cancel'| translate }}</button>
    </div>
  </form>
</div>
