<div class="centeredComponent">
  <form [formGroup]="profileForm" (ngSubmit)="submitProfile()">
    
    <div>
      <label class="label" for="name">Name: </label>
      <input id="name" type="text" autocomplete="username" formControlName="name" 
      [ngClass]="{ 'is-invalid': submitted && field['name'].errors }"/>
      @if (submitted && field['name'].errors) {
        <div class="invalid-form">
          @if (field['name'].errors['required']) {
            <div>Username is required</div>
            }
          @if (field['name'].errors['minlength']) {
            <div>Username must be at least 4 characters</div>
            }
          @if (field['name'].errors['maxlength']) {
            <div>Username must not exceed 20 characters</div>
            }
        </div>
      }
    </div>

    <div>
      <label class="label" for="description">Profile Description: </label>
      <input id="description" type="text" formControlName="description"/>
    </div>

    <div>
      <label class="label" for="language">Language: </label>
      <select formControlName="language" name="language" id="language" (ngModelChange)="useLanguage($event)">
        <option [ngValue]="null" disabled selected hidden>{{selectedLang}}</option>
        <option [ngValue]="i" *ngFor="let i of languageList">{{i}}</option> 
      </select>
    </div>

    <div>
      <label class="label" for="gender">Gender: </label>
      <input id="gender" type="number" formControlName="gender"/>
    </div>
    
    <div>
      <label class="label" for="notified">I accept to be notified by mail for a new Match: </label>
      <input id="notified" type="checkbox" formControlName="notified" />
    </div>
    
    <div>
      <label class="label" for="avatar">Avatar: </label>
      <input id="avatar" type="text" formControlName="avatar"/>
    </div>

    <div>
      <button type="submit" class="button">Create Profile</button>
      <button type="button" class="button" (click)="cancelProfile()">Cancel</button>
    </div>
  </form>
</div>
