<div class="centeredComponent">
    <h2>{{'home.punchline' | translate }}</h2>
    <h3>{{'home.subtitle' | translate }}</h3>

    <p>
        <b>Pinya : </b> Ananas. <br />
        <b>Fer Pinya intr. : </b>Se rassembler dans un but commun. <br />
        <b>Pinya de rosa o puny de mico : </b>Poing de singe. Noeud en forme de boule utilisé par les marins et en escalade, comme coinceur, notamment dans les sites protégés, afin de ne pas abîmes les parois. 
    </p>
    
    <p class="margin-bottom">
        <b>Pinya</b> te permet de rencontrer quelqu'un avec qui partir grimper. <br />
        Quelqu'un de disponible aux mêmes créneau horaire que toi.<br />
        Quelqu'un du même niveau que toi.<br />
        Pour t'assurer sur tes voies, te parer en bloc.<br />
        En salle ou sur le rocher. <br />

    </p> 
</div>


