<div class="centeredComponent">
    <p class="margin-bottom">{{'home.welcomeMessage' | translate }}</p>
    <p class="cormorant-garamond-regular margin-bottom">
        <span class="cormorant-garamond-bold">Pinya : </span> Ananas. <br />
        <span class="cormorant-garamond-bold">Fer Pinya </span><span class="cormorant-garamond-bold-italic">intr. : </span>Se rassembler dans un but commun. <br />
        <span class="cormorant-garamond-bold">Pinya de rosa o puny de mico : </span>Poing de singe. Noeud en forme de boule utilisé par les marins et en escalade, comme coinceur, notamment dans les sites protégés, afin de ne pas abîmes les parois. 
    </p>
    
    <p class="margin-bottom">
        <span class="bold">Pinya</span> te permet de rencontrer quelqu'un avec qui partir grimper. <br />
        Quelqu'un de disponible aux mêmes créneau horaire que toi.<br />
        Quelqu'un du même niveau que toi.<br />
        Pour t'assurer sur tes voies, te parer en bloc.<br />
        En salle ou sur le rocher. <br />

    </p> 

    <a routerLink="/searches">{{'home.toSearches' | translate }}</a>
</div>


